<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="media/css/style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.3/svg.js"></script>

    <script type="text/javascript" src="media/js/game/elements/board.js"></script>
    <script type="text/javascript" src="media/js/game/elements/square.js"></script>
    <script type="text/javascript" src="media/js/game/elements/player.js"></script>
    <script type="text/javascript" src="media/js/consts.js"></script>
    <script type="text/javascript" src="media/js/utils.js"></script>
    <script type="text/javascript" src="media/js/visuals.js"></script>

    <title>Arachn.IO</title>
</head>
<body>
    <div id="game">
        <div id="board"> <!-- This is where all the SVG magic happens -->

        </div>
    </div>
    <div id="user-interface">
        <textarea id="user-code">

        </textarea>
    </div>

    <script type="text/javascript" src="media/js/main.js"></script>
</body>
</html>
