<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="https://raw.githubusercontent.com/svgdotjs/svg.js/master/dist/svg.min.js"></script>

    <script type="text/javascript" src="static/js/consts.js"></script>
    <script type="text/javascript" src="static/js/utils.js"></script>

    <title>Arachn.IO</title>
</head>
<body>
    <div id="game">
        <div id="board"> <!-- This is where all the SVG magic happens -->

        </div>
    </div>
    <div id="user-interface">
        <div id="user-code">

        </div>
    </div>
</body>
</html>